<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="jdbc_config.properties">
        <!-- <property name="username" value="password" /> -->
        <property name="org.apache.ibatis.parsing.PropertyParser.enable-default-value" value="true"/> <!-- 启用默认值特性 -->
        <property name="org.apache.ibatis.parsing.PropertyParser.default-value-separator" value="?:"/>
    </properties>


    <settings>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="cacheEnabled" value="true"/>
        <setting name="localCacheScope" value="SESSION"/>
<!--        <setting name="logImpl" value="LOG4J"/>-->
    </settings>

    <plugins>
        <plugin interceptor="com.st.spring.beans.tx.interceptor.PageInterceptor"></plugin>
    </plugins>
    
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
<!--            <dataSource type="POOLED">-->
            <dataSource type="com.st.spring.beans.tx.HikariCPDataSourceFactory">
<!--                <property name="driver" value="${jdbc.className?:com.mysql.jdbc.Driver}"/>-->
<!--                <property name="url" value="${jdbc.url}"/>-->
                <!--                Hikari -->
                <property name="jdbcUrl" value="${jdbc.jdbcUrl}"/>
                <property name="username"
                          value="${jdbc.username}"/>  <!--   启用默认值特性   如果属性 'username' 没有被配置，'username' 属性的值将为 'ut_user' -->
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

</configuration>